
.background {
  background-image: url('../../assets/img/background.png');
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .center {
    background-color: rgb(95, 90, 90);
    width: 80%;
    height: 30%;
    border-radius: 2rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    align-content: center;
    padding: 1rem;

    @media (min-width: 700px) {
      width: 30rem;
      height: 15rem;
    }
  }

  h1 {
    font-size: 1.8rem;
    color: rgb(20, 13, 13);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  h2 {
    font-size: 1.3rem;
    color: rgb(29, 19, 19);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  button {
    width: 6rem;
    height: 2rem;
    border: 2px solid rgb(37, 33, 33);
    border-radius: 4px;
    cursor: pointer;
    background-color: rgba(204, 181, 181, 0.89);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
  }
}

.background-modal {
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 100;
}

